{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
{% endblock %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <header>
        <nav id="menu">
            <!-- <a href="../Home/home.html">
             <img src="Image/headimg.jpeg" class="img">
            </a> -->
            <ul class="blackbox">
                <!-- <li><a href="#">Register</a></li> -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
    </header>
    <div class="center">
        <h1>Reset your password</h1>
        <form method="post">
            <!-- <div class="txt_field"> -->
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            <!-- </div> -->
        </form>
    </div>
{% endblock %}
