{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock %}
{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <header>
        <nav id="menu">
            <!-- <a href="../Home/home.html">
             <img src="Image/headimg.jpeg" class="img">
            </a> -->
            <ul class="blackbox">
                <!-- <li><a href="#">Rules</a></li> -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="center">
        {% if validlink %}
            <h1>Reset your Password</h1>
            <form action="{% url 'password-reset-confirm' uidb64=uidb64 token=token %}" method="POST">
                {% include 'partials/_alerts.html' %}
                {% csrf_token %}
                <p>Please enter your new password twice:</p>
                <div class="txt_field">
                    <input type="password" name="new_password1" required>
                    <label>New password</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="new_password2" required>
                    <label>New password confirmation</label>
                </div>
                <ul class="points">
                    <li>Your password can't be too similar to your other personal information</li>
                    <!-- <br> -->
                    <li>Your password must contain at least 8 characters</li>
                    <!-- <br> -->
                    <li>Your password can't be a common used password</li>
                    <!-- <br> -->
                    <li>Your password can't be too similar to your other personal information</li>

                </ul>
                <!-- <br>
                <br> -->
                <input class="but" type="submit"  value="Reset Password">
                <br>
                <br>
            </form>
        {% else %}
            <form class="post">
                <p>
                    This link seems to be used once or invalid You can request new one<a href="{% url 'password-reset' %}">here</a>
                </p>
            </form>
        {% endif %}
    </div>
{% endblock %}