{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
{% endblock %}
    {% block title %}Reset password{% endblock %}

{% block content %}
    <header class="container-box">
        <nav id="menu">
            <!-- <a href="../Home/home.html">
             <img src="Image/headimg.jpeg" class="img">
            </a> -->
            <ul class="blackbox">
                <!-- <li><a href="#">Register</a></li> -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
    </header>
    <div class="center">
        <h1>Forgotten your password?</h1>
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'password-reset' %}" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                <!-- <p>Enter your e-mail address to reset the password.</p> -->
                <input type="email" name="email" required>
                <label>Enter your e-mail address to reset the password.</label>
            </div>
            <div class="txt_field">
                <!-- <p>Enter your e-mail address to reset the password.</p> -->
                <input type="text" name="teamID" required>
                <label>Enter your team ID (Staff Enter your email again)</label>
            </div>
            <input type="submit" value="Send e-mail">
        </form>
    </div>
{% endblock %}