{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<header>
  <nav id="menu">
      <ul class="blackbox">
          {% if is_guide %}
              <li>
                  <a href="{% url 'guide-dashboard' team.teamID %}">Dashboard</a>
              </li>
          {% else %}
          <li>
              <a href="{% url 'team-dashboard' %}">Dashboard</a>
          </li>
          {% endif %}
          
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'home' %}">Home</a></li>
      </ul>
  </nav>
</header>