@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: #ffff;
    position: fixed;
    left: 0;
    width: 235px;
    height: 100%;
    display: block;
    padding: 20px 0;
    transition: all 0.5s ease;
    border: 1 px solid rgba(0, 0, 0, 0.123);
    overflow: auto;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #000000;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(7, 7, 7);
    font-size: 14px;
}


.wrapper .sidebar ul li a{
    display: block;
    padding: 10px 28px;
    border: 1px solid  rgba(0, 0, 0, 0.123);
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    max-height: fit-content;
}

#blue {
    margin-bottom: 60px;
}

.wrapper .sidebar ul li a .icon{
    color: #000000;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #000000;

    background:#04040417;
    border-right: 2px solid rgba(0, 0, 0, 0.123);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon,.section{
    color: #000000;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section {
    width: calc(100% - 230px);
    margin-left: 230px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: #831238;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section1 .top_navbar .hamburger a{
    font-size: 28px;
    color: #ffff;
}

.wrapper .section1 .top_navbar .hamburger a:hover{
    color: #ffff;
}



body.active .wrapper .sidebar{
    left: -230px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

.section1{
    background-color: #831238;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.hamburger a{
    font-size: 28px;
    color: #ffff;
}

.profile-menu {
    float: right;
    height: 80px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #831238;
    color: #ffff;

}
h6{
    color: #000000;
}
/*------------*/

        
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 15px;
    padding: 10px;
    left: -230px;
    padding-left: 20px;
  }
  
  .box :first-child {
      align-self: center;
  }
  .left-container{
    float: left;

  }
  .one,.two,.three,.four,.five,.six{
    height: 280px;
   /* width: 350px;*/
    border:2px solid rgba(0, 0, 0, 0.123) ;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color:#6b6b6d1c ;
    
  }
  .sign-in.button {
    background: #e64c65;
    margin: 10px auto;
}
    .sign-in.button:hover {
        background: #cc324b;
    }
    .subscribe.button {
        background: #11a8ab;
        margin-top: 10px;
    }

body.active .wrapper .section .one {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .one {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .two {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .three {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .four {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .five {
    margin-left: 0;
    width: 100%;

}
body.active .wrapper .section .six {
    margin-left: 0;
    width: 100%;

}

.button {
	display: block;
	width: 175px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
	.button:hover {
		text-decoration: none;
	}

    .button:active {
        transform: translateY(2px);
    }
a{
    color: #ffff;
}

.box {
    font-family: 'Ubuntu', sans-serif;
}
.profile-status{
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.account.block{
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.profile-picture{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #831238;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.user-name{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-title{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media(max-width:768px){
    .html{
        overflow: hidden;
    }
    .wrapper .section{
        margin-left: 0;
        width: 100%;
    }
    .box {
        display: grid;
        grid-template-columns: 2fr ;
        gap: 5px 10px;
        padding: 10px;
        left: -230px;
        padding-left: 5px;
        overflow: hidden;
      }
      .profile-status{
        font-size: 12px;
        color: #000000;
        font-weight: 500;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .account.block{
        font-size: 12px;
        color: #000000;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .profile-picture{
        margin-top: 0px;
        margin-left: 140px;
        margin-right: 140px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 2px solid #831238;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
      }
      .user-name{
        font-size: 15px;
        color: #000000;
        padding-top: 0px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .project-title{
        font-size: 15px;
        color: #000000;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      
      .box :first-child {
          align-self: center;
      }
      .left-container{
        float: left;
    
      }
      .one,.two,.three,.four,.five,.six{
        height: 150px;
        width:auto;
        border:2px solid rgba(0, 0, 0, 0.123) ;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
      }
    
   body.active .wrapper .section .one {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body.active .wrapper .section .two {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .three {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .four {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .five {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .six {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .button {
        display: block;
        width: 175px;
        line-height: 50px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        -webkit-transition: background .3s;
        transition: background .3s;
    }
        .button:hover {
            text-decoration: none;
        }
    
        .button:active {
            transform: translateY(2px);
        }
    .sign-in.button{
        background: #e64c65;
        font-size: 12px;
    }
    .account.block{
        width: 375px;
        height: 150px;
    }
    .subscribe.button {
        background: #11a8ab;
        margin-top: 10px;
    }
        .subscribe.button:hover {
            background: #0F9295;
        }
}    
@media(min-width:769px) and (max-width:1068px){
    .html{
        overflow: hidden;
      }
      
      .box :first-child {
          align-self: center;
      }
      .left-container{
        float: left;
    
      }
      .wrapper .section{
        margin-left: 0;
        width: 100%;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 5px 10px;
        padding: 10px;
        left: -230px;
        /*overflow: hidden;*/
      }
      .one,.two,.three,.four,.five,.six{
        border:2px solid rgba(0, 0, 0, 0.123) ;
        height: 350px;
        width: 270px;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
    
   body.active .wrapper .section .one {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body.active .wrapper .section .two {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .three {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .four {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body.active .wrapper .section .five {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body.active .wrapper .section .six {
        margin-left: 0;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(min-width:1069) and (max-width:2188px){
    .html{
        overflow: hidden;
      }
      
      .box :first-child {
          align-self: center;
      }
      .left-container{
        float: left;
    
      }
      .wrapper .section{
        margin-left: 0;
        width: 100%;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        gap: 5px 10px;
        padding: 10px;
        left: -230px;
       overflow: hidden;
      }
      .one,.two,.three,.four,.five,.six{
        border:2px solid rgba(0, 0, 0, 0.123) ;
        width: 280px;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
   body.active .wrapper .section .one {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body.active .wrapper .section .two {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .three {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    body.active .wrapper .section .four {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body.active .wrapper .section .five {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body.active .wrapper .section .six {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*-------------*/
.toggler-wrapper {
  display: block;
  width: 70px;
  height: 40px;
  cursor: pointer;
  position: relative;
    margin: 10px auto;

}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper .check:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider {
    background-color: transparent;
    border-color: #44cc66;
  }
  
  .toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.7;
  }
  
  .toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider:after {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  
  .toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 28px - 3px);
    background-color: #44cc66;
  }
  
  .toggler-wrapper.style-23 .toggler-slider {
    background-color: transparent;
    border: 2px solid #eb4f37;
  }
  
  .toggler-wrapper.style-23 .toggler-slider:before {
    content: 'Approved';
    position: absolute;
    top: 8px;
    right: -90px;
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  .toggler-wrapper.style-23 .toggler-slider:after {
    content: 'Not Approved';
    position: absolute;
    top: 8px;
    right: -90px;
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .toggler-wrapper.style-23 .toggler-knob {
    width: calc(35px - 6px);
    height: calc(35px - 6px);
    border-radius: 50%;
    top: 3px;
    left: 2px;
    background-color: #eb4f37;
  }
  .names{
    font-size: 16px;
    font-weight: 500;
    color: #000;


  }
 h2.titular{
    margin-bottom: 10px;
 }


 .calendar-day {
    height: 100%;
    background: rgba(70, 69, 69, 0.548);
}
    .calendar-day .titular {
        background: rgba(70, 69, 69, 0.548);
    }
        .calendar-day .arrow-btn:hover {
            background: rgba(70, 69, 69, 0.548);
        }
    .calendar-day .the-day {
        margin: 0;
        text-align: center;
        font-size: 125px;
    }
    .add-event.button1 {
        background: #831238;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: inline-block;

    }
        .add-event.button1:hover {
            background: #831238;
        }
    .calendar {
        margin: 22px 15px;
        text-align: center;
    }
        .calendar a {
            font-size: 17px;
        }
        .calendar td, .calendar th {
            width: 40px;
            height: 38px;						
        }

        .calendar .today {
            display: block;
            width: 34px;
            line-height: 34px;
            background: #e64c65;
            border-radius: 100%;
        }
  