<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./team.css">
</head>
<body>
    <header>
    <div class="section1">
        <div class="top_navbar">
            <div class="hamburger">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
    </header>    
    <div class="wrapper">
      <div class="section">
        <div class="sidebar">
           <div class="profile">
            <!-- Staff Image -->
              <img src="#" alt="profile_picture">
              <h3>STAFF NAME</h3>
              <h6>STAFF EMAIL</h6>
            </div>
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">Review</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item"> Latest Events</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="blue" class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <div class="left-container">
                <div class="one">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="five">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-container">
                <div class="two" href="#">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <!-- Redirect to sdashboard -->
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="three">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="seven">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="four">
                    <div class="card-container">
                        <div class="back-img">
                        </div>
                        <div class="profile-picture ">
                            <img src="#" alt="profile_picture">
                        </div>
                        <h3>CSE-001</h3>
                        <h4>HARIHARAN BP</h4>
                        <p>Project Management and Maintenance</p>
                        <div class="buttons">
                            <button class="primary">
                                View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        </div>
    </div>  

  <script>
     var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
  </script>
</body>
</html>