.member1{
    padding-bottom:20px;
    
}

.blackbox{
    padding: 0; 
    margin: 0;
    list-style: none; 
}

li{
    float: left;
}

.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
}
  
li {
    float: right;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
}

li a:hover {
    background-color: lightslategray;
    font-weight: bold;
}

body {
    background-color: lightgray;
    margin: 0px;
    padding: 0;
    /* font-family: cursive; */
    height: 100vh;
    /* overflow: hidden; */
    background-blend-mode: darken;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column; 
}

.content {
    background-color: whitesmoke;
}

#ab {
    margin-left: 7%;
}

#web {
    margin-left: 4%;
}

#web1 {
    margin-left: 8%;
}

/* #web2 {
    margin-left: 70%;
} */

.row {
    width: 49%;
}

#tx {
    width: 215%;
}

.db {
    color: white;
    text-align: center;
}

/* #save {
    visibility: hidden;
} */

.d1 {
    float: left;
}

.d2 {
    float: left;
}


@media (max-width: 768px) {
    #menu{
        width: 100%;
    }
}
