{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> GUIDE FORM</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/aform.css' %}">
    <link rel = "icon" href = "{% static 'img/logo.jpg' %}" type = "image/x-icon">
</head>

<body>
    <div class="testbox">
        <form action="{% url 'guides-register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="banner">
                <h1 style="color: #fff !important;" >Faculty Account Registration</h1>
            </div>
            <p class="bluebox" style=" padding-right: 15rem; text-align:center;">Please use the same EMAIL ID as given in the excel provided to you. Thank you!</p>
            <p class="bluebox" style=" padding-right: 15rem; text-align:center;">The password must be alphanumeric</p>
            <p class="bluebox" style=" padding-right: 15rem; text-align:center;">The password must be minimum of 8 characters</p>
            <p class="bluebox" style=" padding-right: 15rem; text-align:center;">The password must contain at-least 1 special characters.</p>
            {% include 'partials/_alerts.html' %}
            <div class="staffs">
                <div class="team" id="staff">
                    <fieldset class="staff-form">
                        <legend>Faculty Account Registration</legend>
                        <div class="item">
                            <label for="name" style="color: black ;">Name <span>*</span></label>
                            <div class="name-item">
                                <input id="name" type="text" name="first_name" placeholder="First Name"
                                    required />
                                <input id="name" type="text" name="last_name" placeholder="Last Name" required />
                            </div>
                        </div>
                        <!-- <div class="item">
                            <label for="empid" style="color: black ;"> Employee ID (As Per ERP)<span>*</span></label>
                            <input id="empid" type="number" name="emp_id"
                                placeholder="Enter Your Employee ID (As Per ERP)" required />
                        </div> -->
                        <div class="item">
                            <label for="email" style="color: black ;">
                                Email<span>*</span>
                            </label>
                            <input id="email" type="email" name="email" placeholder="Email Id As given in excel" required />
                        </div>
                        <div class="item">
                            <label for="serialno" style="color: black ;">
                                Password<span>*</span>
                            </label>
                            <input id="serialno" type="password" name="password1" placeholder="Create a password"
                                required />
                        </div>
                        <div class="item">
                            <label for="designation" style="color: black ;">
                                Confirm Password<span>*</span>
                            </label>
                            <input id="designation" type="password" name="password2" placeholder="Confirm Password" required />
                        </div>
                        <div class="btn-block">
                            <button type="submit" onclick="myFunction()" class="btn-dark">Submit</button>
                        </div>
                    </fieldset>
                </div>
            </div>
    </div>
    </form>
    <script type="text/javascript" src="{% static 'js/aform.js' %}"></script>
    <script src="{% static 'js/main.js' %} "></script>
</body>

</html>