{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fdashboard.css' %}">
</head>
<body>
    <header>
    <div class="section1">
        <div class="top_navbar">
            <div class="hamburger">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
        <!--<div class="profile-menu">
            <div class="profile-details">
                <img src="#" alt="profile_picture">
                    <div class="name">Anamika Roy</div>
            </div>
        </div>-->
    </div>
    </header>    
    <div class="wrapper">
      <div class="section">
        <div class="sidebar">
           <div class="profile">
              <img src="#" alt="profile_picture">
              <h3>{{ team.teamID }}</h3>
              <h6>{{ team.student_1_name }} {% if team.no_of_members == '2' %} & {{ team.student_2_name }} {% endif %}</h6>
            </div>
            <ul>
                <!-- Side bar link to be changed -->
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Guide Selection</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Document Upload</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">Review</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item"> Latest Events</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="blue" class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item" href="#">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <div class="left-container">
                <div class="one">
                        <div class="profile-status"> 
                            <h2 class="titular">PROFILE STATUS</h2>
                            <h2 class="titular"> APPROVE PROFILE</h2>
                            <label class="toggler-wrapper style-23">
                                <input type="checkbox" >
                                <div class="toggler-slider">
                                  <div class="toggler-knob"></div>
                                </div>
                            </label>
                        </div>
                </div>
                <div class="four">
                    <!-- <div class="calendar-day block"> 
                        <div class="arrow-btn-container">
                            <a class="arrow-btn left" href="#200">
                                <span class="icon fontawesome-angle-left"></span>
                            </a>
                            <h2 class="titular">WEDNESDAY</h2>
                            <a class="arrow-btn right" href="#201">
                                <span class="icon fontawesome-angle-right"></span>
                            </a>
                        </div>
                            <p class="the-day">26</p>
                            <a class="add-event button1" href="#27">ADD EVENT</a>
                    </div> -->
                </div>
            </div>
            <div class="center-container">
                <div class="two" href="#">
                    <div class="profile block"> 
                        <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                        <div class="profile-picture ">
                            <!-- Put default pic -->
                            <img width="150px" alt="profile pic" src="" >
                        </div>
                        <h1 class="user-name">{{ team.teamID }}</h1>
                        <h1 class="user-name">{% if team.no_of_members == '2' %} & {{ team.student_2_name }} {% endif %}</h1>
                        <div class="profile-description">
                            <p class="project-title">Project Management and Maintenance </p>
                        </div>
                    </div>
                </div>
                <div class="five">
                    <div class="profile-status"> 
                        <h2 class="titular">GUIDE SUGGESTIONS</h2>
                        <!-- Redirect to comment page -->
                        <a class="subscribe button" href="#21">READ COMMENTS</a>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="three">
                    <div class="account block"> 
                        <h2 class="titular">GUIDE & PROJECT STATUS</h2>
                        <p class="names">GUIDE APPROVAL</p>
                        <a href="{% url 'guide-approval' team.teamID %}">
                            <label class="toggler-wrapper style-23">
                                <!-- T or F -->
                                <input type="checkbox" class="check" id="approved-checkbox" > 
                                <input type="checkbox" class="not-checked" id="approved-checkbox" > 
                                <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                                </div>
                            </label>
                        </a>
                        <!-- <div style="display:inline-block">
                            <label>Currently working here?</label>
                            <a href="{% url 'guide-approval' team.teamID %}">
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </a>
                        </div> -->
                        <p class="names">RESEARCH PAPER</p>
                        <label class="toggler-wrapper style-23">
                            <input type="checkbox" >
                            <div class="toggler-slider">
                              <div class="toggler-knob"></div>
                            </div>
                        </label>
                        <p class="names">DOCUMENTATION</p>
                        <label class="toggler-wrapper style-23">
                            <input type="checkbox" >
                            <div class="toggler-slider">
                              <div class="toggler-knob"></div>
                            </div>
                        </label>
                        <p class="names">PPT </p>
                        <label class="toggler-wrapper style-23">
                            <input type="checkbox" >
                            <div class="toggler-slider">
                              <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="six">
                    <div class="profile-status"> 
                    <h2 class="titular">UPDATES AND LATEST NEWS</h2>
                    <a class="subscribe button" href="#21">CHECK FOR UPDATES</a>
                </div></div>
            </div>
        </div>      
        </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
  <script>
     var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })

    $(document).ready(function() {
        $('#approved-checkbox').change(function() {
            let guide_url = "{% url 'guide-approval' id=team.teamID %}"
            console.log("Guide URL: ",guide_url)
            $.post(guide_url, {
                // id: '{{team.teamID}}',
                guide_approved: this.checked, 
                csrfmiddlewaretoken: '{{ csrf_token }}' 
            });
        });
    }); 


  </script>
</body>
</html>